/*
dentro de las hojas de estilo tenemos:

eitquetas<--alfabeticamente
identificadores
clases 
pseudoelementis

En ese orden*/
body
{
	background: rgb(255,255,255); /*fondo*/
	max-width: 1024px; /*ancho maximo*/
	margin:0 auto; /*el cero inidica que no hya movimiento arriba o abajo
	el auto se refiere a que de izquierda a derecha se mueva de forma equitativa*/
	color:#000000 ;/*letra*/
}